# GEMINI_API_KEY: Required for Gemini AI API calls. (Primary)
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# GROQ_API_KEY: Required for Groq AI API calls. (Fallback)
GROQ_API_KEY="MY_GROQ_API_KEY"

# OPENROUTER_API_KEY: Required for OpenRouter AI API calls. (3rd Fallback, high rate limit)
OPENROUTER_API_KEY="MY_OPENROUTER_API_KEY"
